@import "../../../style/mixins.scss";

.cus_jumbotron {
  background-color: #ffffff;
  padding: 96px 32px;
  margin-bottom: 0px;

  @media screen and (max-width: $breakpoint_sd) {
    padding: 48px 16px;
  }

  .cus_container {
    max-width: 40rem;
  }

  .jumbotron_heading {
    font-weight: 300;
  }
}
